.panel-main{
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 768px){
    .panel-main {
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
}

@media only screen and (min-width: 1280px) {}

.nav-container {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.pole {
    width: 70px;
    height: 93vh;
    position: relative;
    user-select: none;
}

.sign {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    user-select: none;
}

.sign__view-all{
    width: 105px;
    top: 97px;
    left: -81px;
}

.sign__rules{
    width: 60px;
    top: 114px;
    left: 30px;
}

.sign__about-us{
    width: 140px;
    top: 187px;
    left: 30px;
}

.sign__motivation{
    width: 105px;
    top: 240px;
    left: -62px;
}

.sign__news{
    width: 120px;
    top: 342px;
    left: -16px;
}

@media only screen and (min-width: 768px){

    .pole{
        width: 76px;
    }
    .sign__view-all {
        width: 120px;
        top: 102px;
        left: -95px;
    }
    
    .sign__rules {
        width: 72px;
        top: 117px;
        left: 33px;
    }
    
    .sign__about-us {
        width: 160px;
        top: 202px;
        left: 38px;
    }
    
    .sign__motivation {
        width: 135px;
        top: 250px;
        left: -88px;
    }
    
    .sign__news {
        width: 135px;
        top: 375px;
        left: -35px;
    }
}