/* .welkom-text{
    font-size: 40vmin;
    font-family: "IBMPlexMono-Bold";
    width: 80vw;
    text-align: center;
} */
.panel-main{
    background-image: url('../img/bg/bg-main.jpg');
    background-repeat: repeat-y;
    background-size: 100%;
}

.nav-container{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-30%);
}

/* pole */

.pole-top{
    background-color: rgb(123, 123, 123);
    width: 56px;
    height: 55px;
    border-radius: 55% 55% 0 0;
    position: relative;
    left: -6px;
}

.pole-line {
    width: 56px;
    height: 15px;
    position: absolute;
    left: -6px;
    top: 70px;
    z-index: 1;
    background-color: rgb(123, 123, 123);
}

.pole{
    width: 45px;
    height: 85vh;
    position: relative;
    background-color: rgb(86, 86, 86);
}

@media only screen and (min-width: 768px){
    .pole-top{
        left: -5px;
    }
    .pole-line{
        left: -5px;
    }
}

@media only screen and (min-width: 1280px) {}

.sign {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.sign__view-all{
    background-color: rgb(224, 22, 146);
    padding: 3px 10px 3px 10px;
    border: 2px white solid;
    width: 90px;
    height: 60px;
    top: 90px;
    left: -80px;
}

.sign__about-us{
    background-color: rgb(23, 23, 205);
}

.sign__join{
    background-color: rgb(96, 15, 15);
    width: 160px;
    height: 160px;
    top: 390px;
    left: -115px;
    clip-path: polygon(48% 0, 73% 57%, 82% 45%, 92% 84%, 57% 88%, 64% 72%, 25% 39%);
}

@media only screen and (min-width: 768px){
    .sign__view-all{
        width: 150px;
        height: 80px;
        left: -140px;
    }

    .sign__join {
        width: 200px;
        height: 200px;
        top: 390px;
        left: -150px;
    }
}