.panel-rules{
    background-image: url('../img/bg/bg-rules.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.rules-title{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

.panel-rules > div{
    left: 50%;
    top: 50%;
}

.rules-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.rules-list > li{
    width: fit-content;
}

.rules-list>li:nth-child(1) {
    background-color: #f216b7;
    box-shadow: 3px 3px 0px 3px #000000, 6px 6px 0px 6px #8aff00;
}

.rules-list > li:nth-child(2) {
    rotate: 8deg;
    transform: translateX(5px);
    background-color: #10fee2;
    box-shadow: 3px 3px 0px 3px #000000, 6px 6px 0px 6px #f216b7;
}

.rules-list>li:nth-child(3) {
    transform: translateX(-15px);
    background-color: #6715ff;
    box-shadow: 3px 3px 0px 3px #000000, 6px 6px 0px 6px #10fee2;
}

.rules-list>li:nth-child(4) {
    background-color: #8aff00;
    box-shadow: 3px 3px 0px 3px #000000, 6px 6px 0px 6px #6715ff;
    rotate: 4deg;
}

.rules-icons{
    width: 50px;
    height: 50px;
}

.item-container{
    width: 220px;
    height: 100px;
    padding: 15px 20px;
    font-size: 16px;
    color: black;
    font-weight: 700;
}

.reversed-text{
    text-align: end;
    color: rgb(255, 255, 255);
}

.rules-icons-box {
    display: none;
}

.item-n{
    background-color: rgb(0, 0, 0);
    padding: 6px;
    width: fit-content;
    border-radius: 0 0 70% 0;
    font-family: "RockSalt-Regular";
    font-size: 10px;
    position: absolute;
}

.reversed-num{
    justify-self: end;
    text-align: end;
    padding-left: 10px;
    border-radius: 0% 0 0 70%;
}

@media only screen and (min-width: 768px){

    .rules-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px 70px;
        padding: 0 50px;
    }

    .rules-list>li:nth-child(1) {
        rotate: 4deg;
        transform: translateX(25px) translateY(-10px);
    }

    .rules-list>li:nth-child(2) {
        rotate: -1deg;
        transform: translateX(-15px);
    }

    .rules-list>li:nth-child(3){
        transform: translateX(5px) translateY(-10px);
    }

    .rules-list>li:nth-child(4){
        rotate: 3deg;
        transform: translateX(-30px);
    }

    .item-container {
        width: 250px;
        height: 260px;
        font-size: 20px;
        margin-top: 15px;
    }

    .item-n{
        font-size: 12px;
    }

    .rules-icons-box {
        border: 2px rgb(0, 0, 0) solid;
        padding: 15px;
        border-radius: 50%;
        width: fit-content;
        background-color: rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 25px;
        margin-left: 15px;
    }

    /* .reversed-text > .rules-icons-box{
        margin-left: 120px;
    } */
    
    .rules-icons {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (min-width: 959px){
    .rules-list{
        padding: 0 195px;
    }
}

@media only screen and (min-width: 1280px) {

    .rules-title{
        margin-top: 50px;
        margin-bottom: 120px;
    }

    .rules-list{
        padding: 0;
    }

    .rules-list>li:nth-child(1) {
        rotate: -3deg;
        transform: translateX(0px) translateY(0px);
    }
    
    .rules-list>li:nth-child(2) {
        rotate: 3deg;
        transform: translateX(0);
    }
    
    .rules-list>li:nth-child(3) {
        rotate: -4deg;
        transform: translateX(0px) translateY(0px);
    }
    
    .rules-list>li:nth-child(4) {
         transform: translateX(0px);
    }

    .item-container {
        width: 260px;
        height: 320px;
        font-size: 24px;
        margin-top: 50px;
        padding: 0 20px;
    }

    .item-n{
        font-size: 16px;
        padding: 10px;
    }

    .reversed-num {
        justify-self: start;
        padding-left: 10px;
        border-radius: 0 0 70% 0;
    }
}